{% extends 'base.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block body %}
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a href="#metier">
    <div class="text">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><h1 class="text-center">{% trans %}AUDIT{% endtrans %}</h1>
                    <p>{% trans %}En savoir plus{% endtrans %}</p>
                    <div class="mouse_scroll">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                    </div></div>
                <div class="swiper-slide"> <h1 class="text-center">{% trans %}TRANSFORMATION{% endtrans %}</h1>
                    <p>{% trans %}En savoir plus{% endtrans %}</p>
                    <div class="mouse_scroll">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                    </div></div>
                <div class="swiper-slide"><h1 class="text-center">{% trans %}MANAGEMENT <br> DE <br> TRANSITION{% endtrans %}</h1>
                    <p>{% trans %}En savoir plus{% endtrans %}</p>
                    <div class="mouse_scroll">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                    </div></div>
                <div class="swiper-slide"><h1 class="text-center">{% trans %}SUPPORT <br> OPERATIONNEL{% endtrans %}</h1>
                    <p>{% trans %}En savoir plus{% endtrans %}</p>
                    <div class="mouse_scroll">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                    </div></div>
                <div class="swiper-slide"> <h1 class="text-center">{% trans %}SUPPORT <br> CONTRACTUEL{% endtrans %}</h1>
                    <p>{% trans %}En savoir plus{% endtrans %}</p>
                    <div class="mouse_scroll">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                    </div></div>
            </div>
        </div>
    </div>
    </a>

    {% for label, messages in app.flashes  %}
        <div class="alert mb-5 alert-{{ label }} fade show display-6 text-center" role="alert" data-mdb-color="{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor%}
        </div>
    {% endfor %}

    <section id="metier">
        <h2 class="text-center mt-5 mb-4">{% trans %}CONSEIL EN ACHAT STRATEGIQUE & OPERATIONNEL{% endtrans %}</h2>
        <p>{% trans %}HA Partners ainsi que son réseau (SI Achats, Professeur d’Université et professionnels de la fonction publique…) vous assurent une qualité de service exceptionnel :{% endtrans %}</p>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col col-ml-2 col-lg-3">
                    <div class="card mt-3">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2006&q=80">
                        <div class="card-body">
                            <h5 class="card-title text-center">{% trans %}Audit{% endtrans %}</h5>
                            <ul class="card-text mt-3 mb-3">
                                <li>{% trans %}Analyse de la valeur{% endtrans %}</li>
                                <li>{% trans %}Benchmark{% endtrans %}</li>
                                <li>{% trans %}Risk assesment{% endtrans %}</li>
                                <li>{% trans %}Evaluation de la maturité SMART Method{% endtrans %}</li>
                            </ul>
                            <div class="text-center">
                                <a href="{{ path('app_contact') }}" class="btn btn-primary text-center">{% trans %}Contacter-nous{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-ml-2 col-lg-3">
                    <div class="card mt-3">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">{% trans %}Transformation <br> Management de Transition{% endtrans %}</h5>
                            <ul class="card-text mt-3 mb-3">
                                <li>{% trans %}Accompagnement sur l’implémentation des outils (SAP MM, ARIBA){% endtrans %}</li>
                                <li>{% trans %}Formations aux Outils Achats{% endtrans %}</li>
                                <li>{% trans %}Optimisation des process/ KPI{% endtrans %}</li>
                                <li>{% trans %}Externalisation, double sourcing{% endtrans %}</li>
                            </ul>
                            <div class="text-center">
                                <a href="{{ path('app_contact') }}" class="btn btn-primary text-center">{% trans %}Contacter-nous{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-ml-2 col-lg-3">
                    <div class="card mt-3">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1573166364266-356ef04ae798?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">{% trans %}Support <br> Operationnel{% endtrans %}</h5>
                            <ul class="card-text mt-3 mb-3">
                                <li>{% trans %}Sourcing (RFI, RFQ, BA Negotiation…){% endtrans %}</li>
                                <li>{% trans %}Supplier Assessment (QIA), Evaluation des Riques{% endtrans %}</li>
                                <li>{% trans %}Optimisation du Panel Fournisseur{% endtrans %}</li>
                                <li>{% trans %}CLAIM Management{% endtrans %}</li>
                            </ul>
                            <div class="text-center">
                                <a href="{{ path('app_contact') }}" class="btn btn-primary text-center">{% trans %}Contacter-nous{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-ml-2 col-lg-3">
                    <div class="card mt-3">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">{% trans %}Support <br> Contractuel{% endtrans %}</h5>
                            <ul class="card-text mt-3 mb-3">
                                <li>{% trans %}EPC/EPCM{% endtrans %}</li>
                                <li>{% trans %}Specific Agreement, Tri-partite Agreement, Frame agreement{% endtrans %}</li>
                                <li>{% trans %}Capex{% endtrans %}</li>
                                <li>{% trans %}LOI{% endtrans %}</li>
                            </ul>
                            <div class="text-center">
                                <a href="{{ path('app_contact') }}" class="btn btn-primary text-center">{% trans %}Contacter-nous{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="localisation">
        <h2 class="text-center">{% trans %}Nous trouver{% endtrans %}</h2>
        <div class="container" >
            <div class="row">
                <div class="col-lg-4 border-end text-center border-light disp mt-4" >
                    <i class="fa-solid bx fa-location-dot"></i>
                    <p class="text-center mt-2">10 rue du Luxembourg <br> 25000 Besançon </p>
                </div>
                <div class="col-lg-4 border-end text-center border-light disp mt-4">
                    <i class="fa-solid bx fa-phone"></i>
                    <a href="tel:0651539693" class="mt-3">0651539693</a>
                </div>
                <div class="col-lg-4 text-center border-light disp mt-4">
                    <i class="fa-solid fa-envelope"></i>
                    <p class="mt-3">contact@hapartners.fr</p>
                </div>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2709.7128814913135!2d5.965511317443848!3d47.222200000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sfr!4v1660001996655!5m2!1sen!2sfr" width="100%" height="250px" style="border:0; margin-top: 20px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <script type="module">

        var swiper = new Swiper('.swiper', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>

{% endblock %}
