<h1>Contenu du message</h1>

<h5>Prénom</h5>
<p>{{firstName }}</p>
<h5>Nom</h5>
<p>{{name}}</p>
<h5>Expérience</h5>
<p>{{experience}}</p>
<h5>Email</h5>
<p>{{mail}}</p>
<h5>Téléphone</h5>
<p>{{telephone}}</p>
<h5>Lettre de motivation</h5>
<p>{{lm | raw}}</p>

