<img src="{{ 'http://127.0.0.1:8000' ~ asset('image/logo.png') }}" alt="logo" style="height: 50px">

<h1>Contenu du message</h1>

<h5>Prénom</h5>
<p>{{firstName }}</p>
<h5>Nom</h5>
<p>{{name}}</p>
<h5>Entreprise</h5>
<p>{{business}}</p>
<h5>Email</h5>
<p>{{mail}}</p>
<h5>Téléphone</h5>
<p>{{telephone}}</p>
<h5>Sujet du mail</h5>
<p>{{sujet}}</p>
<h5>Contenu</h5>
<p>{{contenu}}</p>
