{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

<section class="contact">
    <div class="text">
        <h1>Contact</h1>
    </div>
    <div class="container mb-5">
        <div class="row mt-5" data-aos="zoom-in-down">
            <div class="col-lg-8 bord">
                <h2 class="text-center mt-5 mb-5">Envoyez-nous un message</h2>
                {{ form_start(form) }}
                <div class="row mt-3 mb-3">
                    <div class="col-lg-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row ">
                    <div class="col mb-3">
                        {{ form_row(form.business) }}
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col-lg-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.telephone) }}
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col">
                        {{ form_row(form.sujet) }}
                    </div>
                </div>
                    <div class="row mb-3">
                        <div class="col">
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                    <div class="row mb-5 mb-3">
                        <div class="col">
                            {{ form_row(form.envoyer) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="col-lg-4 back">
                <h2 class="text-center mb-5 mt-5">Contactez-nous</h2>
            <div class="disp2">
                    <div>
                    <h3 class="text-center mb-3">Adresse</h3>
                    <p>10 rue du Luxembourg - 25000 Besançon</p>
                  </div>
                    <div>
                        <h3 class="text-center mb-3">Téléphone</h3>
                        <p>0651539693</p>
                    </div>
                    <div>
                        <h3 class="text-center mb-3">Email</h3>
                        <p>contact@hapartners.fr</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>
{% endblock %}
