
<nav style="z-index: 999999999999999999999999999;">
    <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
    </div>

    <div class="logo">
        <img src="{{ asset('./image/logo2.png') }}" style="height: 8vh; margin-top: -10px" alt="">
    </div>

    <div class="menu">
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_us') }}">Qui sommes-nous ?</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a href="{{ path('app_candidature') }}">Nous rejoindre</a></li>
        </ul>
    </div>
</nav>

