
<nav style="z-index: 999999999999999999999999999;">
    <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
    </div>

    <div class="logo">
        <img src="{{ asset('./image/logo2.png') }}" style="height: 8vh; margin-top: -10px" alt="">
    </div>

    <div class="menu">
        <ul>
            <li><a href="{{ path('app_home') }}">{% trans %}Accueil{% endtrans %}</a></li>
            <li><a href="{{ path('app_us') }}">{% trans %}Qui sommes-nous ?{% endtrans %}</a></li>
            <li><a href="{{ path('app_contact') }}">{% trans %}Contact{% endtrans %}</a></li>
            <li><a href="{{ path('app_candidature') }}">{% trans %}Nous rejoindre{% endtrans %}</a></li>
            {% for locale in locales %}
                {% if locale != app.request.locale %}
                    <li><a href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>


