{% extends 'base.html.twig' %}

{% block title %}{% trans %}Rejoignez-nous !{% endtrans %}{% endblock %}

{% block body %}

<section class="candidate">
    <div class="text">
        <h1>{% trans %}Nous rejoindre{% endtrans %}</h1>
    </div>
    <div class="container mb-5">
        <h2 class="mt-5 mb-5 text-center">{% trans %}Rejoignez-nous !{% endtrans %}</h2>
        {{ form_start(form) }}
        <div class="row ">
            <div class="col">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                {{ form_label(form.experience, 'Expérience'|trans) }}
                {{ form_widget(form.experience) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.telephone) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.cv) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.lm) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.envoyer) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</section>



{% endblock %}
