{% extends 'base.html.twig' %}

{% block title %}Rejoignez-nous !{% endblock %}

{% block body %}

<section class="candidate">
    <div class="text">
        <h1>Nous rejoindre</h1>
    </div>
    <div class="container mb-5">
        <h2 class="mt-5 mb-5 text-center">Rejoignez-nous !</h2>
        {{ form_start(form) }}
        <div class="row ">
            <div class="col">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.experience) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.telephone) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.cv) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.lm) }}
            </div>
        </div>
        <div class="row ">
            <div class="col mb-3">
                {{ form_row(form.envoyer) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</section>



{% endblock %}
